h2{
    font-size: 25px;
    color: brown;
    text-align: left;
}
p{
    font-size: 20px;
    color: red;
    text-align: justify;
}
background-image: url("url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png"),"),