h2{
    font-size: 25px;
    color: white;
    text-align: left;
}
p{
    font-size: 20px;
    color: rebeccapurple;
    text-align: justify;
}
body {
color: white;
background-color: black

}

ul{
display: flex;
justify-content: space-between;


}