h2{
    font-size: 25px;
    color: brown;
    text-align: left;
}
p{
    font-size: 20px;
    color: red;
    text-align: justify;
}
body {
color: antiquewhite;
background-color:rgba(0, 0, 0, 0.993)


}